@charset "utf-8";

html {
	font-size:100%;
}
body {
	font-family:"遊ゴシック Medium",YuGothic,"遊ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;line-height:1.7;color:#432;
}

a {
	text-decoration:none;
}
img {
	max-width:100%;
}
.logo {
	width:100px;margin-top:50px;
}
.page-header {
	display:flex;
	justify-content:space-between;
}
.main-nav {
	display:flex;font-size:1.25rem;text-transform:uppercase;margin-top:34px;list-style:none;
}
.main-nav li {
	margin-left:50px;
}
	.main-nav a{
		color:white;background:black;
}
.main-nav a:hover {
	color:white;background:red
}

.wrapper {
	max-width:1100px;margin:0 auto;padding:0 4%;
}
.home-content {
	text-align:center;margin-top:10%
}
.home-content p {
	color:white;font-size:1rem;margin:10px 0 42px
}
.page-title {
	color:white;font-size:3rem;background:black;font-family:遊ゴシック;text-transform:uppercase;font-weight:normal;
}
.button {
	font-size:1rem;background:black;color:white;border-radius:5px;margin-bottom:18px 32px;
}
.button:hover {
	background:red;
}
.big-bg {
	background-size:cover;background-position:center top;background-repeat:no-repeat;
}
#home {
	background-image:url(shogo\ tomizawa.jpeg);min-height:100vh;
}
#home.pagetitle {
	text-transform:none;
}
#news {
	background-image:url(haikeid.jpeg);height:270px;margin-bottom:40px;
}
#news .page-title {
	text-align:center;
}
	footer{
		background:black;text-align:center;padding:26px 0;margin-top:50px; 
}
	footer{
		color:white;
		font-size:0.875rem
	}
	article{
		width:60%;
	}
	aside{
		width: 22%;
	}
	.news-contents{
		display:flex;
		justify-content:space-between;
		margin-bottom:50px;
	}
	.post-info{
		position:relative;
		padding-top:4px;
		margin-bottom:40px;
	}
	.post-date{
		background:black;
		border-radius: 50%;
		color:white;
		width:100px;
		height:100px;
		font-size:1.625rem;
		text-align:center;
		position:absolute;
		top:0;
		padding-top:10px;
	}
.post-date span{
	font-size:1rem;
	border-top:1px rgba(255,255,255,.5)solid;
	padding-top:6px;
	display:block;
	width: 60%;
	margin:0 auto;
}
.post-title{
	font-family:"Yu Mincho","YuMincho",serif;
	font-size:2rem;
	font-weight:normal;
	margin-left:120px;

}
.post-title{
	background:white;
	color:black;
}
.post-cat{
	margin-left:120px;
	background:white;
	color:black;
}
article img{
	margin-bottom:20px;
}
article p{
	margin-bottom:1rem;
}
.sub-title{
	color:white;
	background-color:black;
	font-size:1.375rem;
	padding:0 8px 8px;
	border-bottom:2px white solid;
	font-weight:normal;
}
aside p{
	padding:12px 10px;
}
.sub-menu{
	background-color:black ;
	color:white;
	margin-bottom:60px;
	list-style:none;
}
.sub-menu li{

	border-bottom:1px white solid;
}
.sub-nemu a{
	color:black;
	background-color:white;
	padding:10px;
	display:block;
}
.sub-menu a:hover{
	color:red;
}

@media (max-width:600px){
	.page-title{
		font-size:2.5rem;
	}
	
.main-nav{
	font-size:1rem;
	margin-top:10px;
}
.main-nav li{
	margin:0 20px;
}
.home-content{
	margin-top:20px;
}
.page-header{
	flex-direction:column;
	align-items:center;
}
.news-content{
	flex-direction:column;
}
article,
aside{
	width:100%;
}
#news .page-title{
	margin-top:30px;
}
.post-info{
	margin-bottom:30px;
}
.post-date{
	width:70px;
	height:70px;
	font-size:1rem;
}
.post-date span{
	font-size:1.375rem;
}
.post-cat{
	font-size:0.875rem;
	margin-top:10px;
}
.post-title,
.post-cat{
	margin-left:80px;
}
}
